<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyFitApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MyFit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFit"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ProfileSetting.EditMenu"
            android:exported="false" />
        <activity
            android:name=".Data.Modal.ModalDeleteAccount"
            android:exported="false" />
        <activity
            android:name=".MenuFeed.MenuFeedOpened"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProfileSetting.MenuProfileSettingV2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeUser.HomeUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoginAll.MenuLoginAll"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignEmail.MenuSigninEmail3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignEmail.MenuSigninEmail2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignEmail.MenuSigninEmail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignPhone.MenuSigninPhone2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignAll.MenuSigninAll"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignPhone.MenuSigninPhone"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>